[Unit]
Description=Mount remote shares needed by docker services
Documentation=https://www.freedesktop.org/software/systemd/man/systemd.unit.html
After=network-online.target firewalld.service nfs-client.target resolvconf.service
Before=docker.socket
BindsTo=network-online.target resolveconf.service

[Service]
Type=oneshot
ExecStart=/opt/amanda/bin/mount-network-shares.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
